figcaption {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

body {
  background-color: #fbeaeb;
}
body header {
  text-align: center;
}
body header h1 {
  font-size: 40px;
  font-family: 'Staatliches', cursive;
}
body header h2 {
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

section div {
  background-color: white;
  border: 2px solid #837e7e;
  padding: 15px;
  border-radius: 15px;
}
section figure {
  font-family: 'Zilla Slab', serif;
  font-size: 1.4em;
  color: black;
}
section figure img {
  height: 4em;
  width: auto;
  padding: 10px;
}
section figcaption {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#github {
  padding: 5%;
  font-family: 'Zilla Slab', serif;
  color: black;
  font-size: 1.2em;
}

#github:hover {
  color: #f3d406bd;
}

.halfwidth {
  margin: 2%;
  width: 38%;
  padding: 2%;
  display: inline-block;
  text-align: center;
}

.halfwidth:hover {
  background: #f3d40682;
}
.halfwidth:hover figure {
  color: black;
}
.halfwidth:hover figcaption {
  color: black;
}

.fullwidth {
  width: 98%;
  text-align: center;
}
