$thumbheight: 25%;
$thumbwidth: 25%;
$bgcolor: rgba(62, 139, 81, 0.59);
$subfontsize: 25px;
$subfontexqisite: 20px;
$headerpadding: 10px;
$headersize: 40px;
$headeralign: center;
$niceedge: 15px;
$captionsize:14px;