// $thumbheight: 75%;
// $thumbwidth: 25%;
// $bgcolor: rgb(251, 234, 235);
// $subfontsize: 20px;
// $subfontexqisite: 20px;
// $headerpadding: 10px;
// $headersize: 40px;
// $headeralign: center;
// $niceedge: 15px;
// $captionsize:14px;
// $customsize: 1.3em;

$thumbheight: 75%;
$thumbwidth: 25%;
$bgcolor: rgb(251, 234, 235);
$subfontsize: 20px;
$subfontexqisite: 20px;
$headerpadding: 10px;
$headersize: 40px;
$headeralign: center;
$niceedge: 15px;
$captionsize:14px;
$customsize: 1.4em;